{% extends "Web1/base.html" %}


{% block body %}

<div class="container">
    <header>
         Sign Up
    </header>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="register-field-label">
            {{field.label}} 
            <div class="register-field-input">{{ field}}</div>
        </div>
        {% endfor %}
        <div class="button">
            <button type="submit">Signup</button>
        </div>
       
    </form>
    <div class="signup">
        If you new , <a href="{% url 'login' %}">Log in</a>
    </div>
</div>



{% endblock %}

