<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPlanner</title>
    {% load static %}
    <link rel="stylesheet" type= text/css href="{% static '/css/SmartPlanner.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Smart Planer</h1>
            <div class="row">
                <div class="col">
                    <a href="{% url 'form' %}">+ Create Record</a>
                    <a href="{% url 'todo' %}">+ Create ToDo</a>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <div class="sheet">
                    <h1>To Do Work</h1>
                    <form class="card" method="get" action="{% url 'showtodo' %}">
                            <div class="input">
                                <input  required  type="date" name="search">
                            </div>
                            <div class="button">
                                <button type="submit">Search</button>
                            </div>
                        </form>
            </div>
            <div class="sheet dairy">
                 <h1>My Dairy</h1>
                    <form class="card" method="get" action="{% url 'index' %}">
                        <div class="input">
                            <input required  type="date" name="search">
                        </div>
                        <div class="button">
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="sheet-dairy">
                <h1 class="head">To do</h1>           
                    {% for item in items_to %}
                    <div class="item">  
                        <div class="row row-1">
                            <section>
                                <div class="details">
                                    <span class="title">Subject</span>
                                    {% if  item.time %}
                                    <span>{{item.time}}</span>
                                    {% endif %}
                                </div>
                                {% if  item.description %}
                                <p>{{item.description}}</p>
                                {% endif %}
                                <div class="bottom">
                                    <a href="#">Update</a>
                                    <i>Sachithra</i>
                                </div>
                            </section>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="sheet-dairy dairybox">
                <h1 class="head">Your Diary</h1>           
                    {% for item in items %}
                    <div class="item">  
                        <div class="row row-1">
                            <section>
                                <div class="details">
                                    <span class="title">Subject</span>
                                    {% if  item.time %}
                                    <span>{{item.time}}</span>
                                    {% endif %}
                                </div>
                                {% if  item.description %}
                                <p>{{item.description}}</p>
                                {% endif %}
                                <div class="bottom">
                                    <a href="#">Update</a>
                                    <i>Sachithra</i>
                                </div>
                            </section>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>       



</body>
</html>