* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

/* nav bar styling */

.navbar {
  position: fixed;
  width: 100%;
  padding: 25px 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  background-color: crimson;
  padding: 25px 40px;
}

.navbar.sticky .menu li a:hover {
  color: white;
}
.max-width {
  max-width: 1500px;
  margin: auto;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  font-size: 40px;
  font-weight: 600;
}

.navbar .logo a span.sticky {
  color: black;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.menu-btn {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Home Section */
.home {
  display: flex;
  width: 100%;
  background: url("{% static 'images/mypic.jpg' %}");
  height: 500px;
  color: white;
  min-height: 1000px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 25px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 25px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
  font-size: 50px;
}

.about {
  font-family: sans-serif;
  width: 100px;
}

.about .column-left img {
  width: 100px;
}

/*responsive media query*/

@media (max-width: 947px) {
  .navbar .menu {
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0 50px;
    top: 0;
    left: -100%;
    text-align: center;
    padding-top: 80px;
    transition: all 0.5s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "X";
  }
  .navbar .menu li {
    display: block;
    color: white;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0px;
    font-size: 25px;
  }
}
