<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Cards</title>
    {% load static %}
    <link rel="stylesheet" type= text/css href="{% static '/css/cards.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="cards">
        <h1>Responsive Cards Css</h1>
        <div class = "services" >
            <div class="content" id="content-1">
                <div class="fab fa-twitter"></div>
                <h2>twitter</h2>
                <p>we are on twiter,we are on twiter,we are on twiter,we are on twiter,we are on twiter,we are on twiter </p>
                <a href="#">Read More</a>

            </div>

            <div class="content" id="content-2">
                <div class="fab fa-instagram"></div>
                <h2>Instagram</h2>
                <p>we are on instagram,we are on instagram,we are on twiter,we are on twiter,we are on twiter,we are on twiter </p>
                <a href="#">Read More</a>
                
            </div>

            <div class="content" id="content-3">
                <div class="fab fa-youtube"></div>
                <h2>youtube</h2>
                <p>we are on youtube,we are on youtube,we are on youtube,we are on twiter,we are on twiter,we are on twiter </p>
                <a href="#">Read More</a>
                
            </div>
        </div>
        </div>
    </div>


    
</body>
</html>